@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: prompt, sans-serif;
    color: #364944;
}






/*HEADER*/

#brandlogo {
    margin-top: -90px;
    width: 150px;
    height: 150px;
    position: relative;
}

li {
    display: inline;
    padding-left: 30px;
    padding-right: 10px;
}

.menupunkter {
    margin: 15px;
    padding-top: 8px;
    padding-left: 80px;
}

#main-header ul, #main-header li, #main-header a{
    list-style: none;
    text-decoration: none;
    color: #364944;
    text-align: center;
    position: relative;
    margin-top: -34px;
    font-size: 15px;
}


#main-header a:hover {
    text-decoration: underline;
}

#header {
    background-color: #f8f4e3;
    padding-bottom: 20px;
}



#top {
    background-color: #89a38d;
    padding-bottom: 400px;
}

#mind-overskrift {
    text-align: center;
    font-size: 35px;
    color: #f8f4e3;
    padding-top: 30px;
    padding-bottom: 30px;
}

#beskrivelse-mindfulness {
    padding-left: 130px;
    padding-right: 900px;
    padding-top: 10px;
    position: absolute;
    font-size: 21px;
}


/*bobler*/

.bobbel-all {
    border-radius: 100%;
    width: 150px;
}

#first-sektion {
    position: absolute;
    padding-left: 800px;
    padding-top: 170px;
}

#second-sektion {
    position: absolute;
    padding-left: 1000px;
    padding-top: 80px;
}

#third-sektion {
    position: absolute;
    padding-left: 800px;
}

#fourth-sektion {
    position: absolute;
    padding-left: 600px;
    padding-top: 80px;
}

#first {
    position: absolute;
    padding-left: 607px;
    padding-top: 135px;
    z-index: 1;
    font-size: 17px;
}

#second {
    position: absolute;
    padding-left: 805px;
    padding-top: 223px;
    font-size: 17px;
}

#third {
    position: absolute;
    padding-left: 827px;
    padding-top: 40px;
    font-size: 17px;
    text-align: center;
}

#fourth {
    position: absolute;
    padding-left: 1008px;
    padding-top: 125px;
    text-align: center;
    font-size: 17px;
}



/*OPSTART*/

#middle {
    background-color: #f8f4e3;
}

#tekst-intro {
    text-align: center;
    padding-top: 30px;
}

#tekst-intro > h3 {
    font-size: 30px;
}

#tekst-intro > p {
    padding: 10px 300px 0px 300px;
}


iframe {
    width: 290px;
    height: 250px;
    margin-right: 70px;
    border: solid 1px #89a38d;
}

#positive {
    width: 280px;
    height: 250px;
    border: solid 1px #89a38d;
    margin-top: 40px;
}

#podcast {
    padding-left: 330px;
    padding-bottom: 5px;
    padding-top: 50px;
}


#goodful {
    padding-left: 34%;
}

#pos-pod {
    padding-left: 30px;
}


.screen > img {
    width: 300px;
    padding-right: 70px;
}

#apps-start {
    padding-left: 18%;
    padding-top: 50px;
}

#apps-start > h3 {
    padding-left:330px;
    padding-bottom: 20px;
}

.apps {
    padding-bottom: 50px;
    padding-left: 50px;
}

#head {
    padding-left: 65px;
}

#calm {
    padding-left: 90px;
}


#sam-sektion {
    background-color: #dccec1;
    padding-bottom: 350px;
}

#sam-sektion > img {
    width: 600px;
    padding-top: 10px;
    padding-left: 100px;
    position: absolute;
}

#sam-sektion > p {
    position: absolute;
    padding-left: 550px;
    padding-right: 150px;
    padding-top: 100px;
}

#sita {
    font-size: 80px;
    position: absolute;
}

#first-sita {
    padding-left: 500px;
    padding-top: 40px;
}

#second-sita {
    padding-left: 1080px;
    padding-top: 40px;
}


footer {
    background-color: #364944;
    padding-bottom: 80px;
}

.footer-table > td {
    color: #f8f4e3;
    padding-left: 150px;
}

.footer-table > td > a {
    color: #f8f4e3;
    text-decoration: none;
}

.kontakt-tekst {
    padding-top: 70px;
    padding-bottom: 20px;
}

.footer-table > .punktum {
    color: #364944;
}

.footer-table > td:hover {
    text-decoration: underline;
}

#kontakt > td {
    font-size: 20px;
    color: #f8f4e3;
    padding-left: 150px;
}
