@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: prompt;
    color: #364944;
}






/*HEADER*/

#brandlogo {
    margin-top: -90px;
    width: 150px;
    height: 150px;
    position: relative;
}

li {
    display: inline;
    padding-left: 30px;
    padding-right: 10px;
}

.menupunkter {
    margin: 15px;
    padding-top: 8px;
    padding-left: 80px;
}

#main-header ul, #main-header li, #main-header a{
    list-style: none;
    text-decoration: none;
    color: #364944;
    text-align: center;
    position: relative;
    margin-top: -34px;
    font-size: 15px;
}


#main-header a:hover {
    text-decoration: underline;
}

#header {
    background-color: #f8f4e3;
    padding-bottom: 20px;
}






footer {
    background-color: #364944;
    padding-bottom: 80px;
}

.footer-table > td {
    color: #f8f4e3;
    padding-left: 150px;
}

.footer-table > td > a {
    color: #f8f4e3;
    text-decoration: none;
}

.kontakt-tekst {
    padding-top: 70px;
    padding-bottom: 20px;
}

.footer-table > .punktum {
    color: #364944;
}

.footer-table > td:hover {
    text-decoration: underline;
}

#kontakt > td {
    font-size: 20px;
    color: #f8f4e3;
    padding-left: 150px;
}
